body {
	background: #091966;
}

.main {
	background: white;
	width: 400px;
	height: 175px;
	margin: 100px auto;
	position: relative;
	padding: 30px;
}

.badge {
	width: 96px;
	background: #a1b3d1;
	color: white;
	padding: 5px 10px;
	font-family: fantasy;
	font-weight: lighter;
	position: absolute;
	top: -29.5px;
	left: 40%;
}
.clock {
	background: grey;
	text-align: center;
	font-size: 15px;
	font-family: 'Merriweather', serif;
	height: 100%;
	padding-top: 8px;
}
.date {
	background: grey;
	font-size: 15px;
	font-family: 'Merriweather', serif;
}
